<div class="container mt-4">
    <div class="card edit">
        <div class="card-body">
          <span class="h3" style="font-weight: bold;">Estudiantes Matriculados</span>
          <div class="row mt-3">
            <div class="col-8">
              <input type="search" class="form-control h-100" id="datatable-search-input" placeholder="buscar">
            </div>
            <div class="col-4">
              <button class="btn btn-primary float-right text-b" [routerLink]="['/create']">Agregar&nbsp;<i class="fa-solid fa-plus"></i></button>
            </div>
          </div>
          <h5 *ngIf="estudiantes.length == 0" class="mt-3 mb-3">No hay estudiante Registrados</h5>
            
            <table  *ngIf="estudiantes.length > 0" class="table table-striped mt-5 edit">
                <thead class="bg text-white">
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>Acudiente</th>
                    <th>Grado</th>
                    <th>grupo</th>
                    <th>acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor=" let estudiante of estudiantes">
                    <td>{{estudiante.nombre}}</td>
                    <td>{{estudiante.apellido}}</td>
                    <td>{{estudiante.fechaNacimiento}}</td>
                    <td>{{estudiante.direccion}}</td>
                    <td>{{estudiante.telefono}}</td>
                    <td>{{estudiante.Acudiente}}</td>
                    <td>{{estudiante.grado}}</td>
                    <td>{{estudiante.grupo}}</td>
                    <td><i class="fa-solid fa-pen-to-square fa-lg text-info mr-10" [routerLink]="['/editar',estudiante.id]"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        <i (click)="deleteEstudiante(estudiante.id)" class="fa-solid fa-trash-can fa-lg text-danger"></i></td>
                  </tr>
                
                </tbody>
              </table>
        </div>
    </div>
</div>
