
ul {
    width: 100%;
li {
    padding: 3px;
    text-align: center;
   
    
}
}

.dropdown-toggle {
    width: 100%;
    border: 1px solid rgb(211, 210, 210) ;
}

.centrar {
    margin: auto;
    display: flex;
    justify-content: center;
    
}

.text-b{
    font-weight: bold;
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    
  
}

.alerta{
    background-color: rgb(196, 4, 4);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 1px;
    font-size: 13px;
}

