<div class="container pt-4">
    <div class="row centrar">
        <div class="col-lg-8">
            <div class="card text-center">
                <div class="card-body">
                    <span class="h3" style="font-weight: bold;">Agregar Estudiante</span>
                    <form class="mt-4">
                        <div class="row mb-3">
                            <div class="col">
                                <h6>Estudiante</h6>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Apellido">
                            </div>
                        </div>
                       
                        <div class="row mb-3">
                            <div class="col">
                                <input type="date" class="form-control" placeholder="fecha de nacimiento">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="direccion">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="telefono">
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
                                      Grado
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      <li>1</li>
                                      <li>2</li>
                                      <li>3</li>
                                      <li>4</li>
                                      <li>5</li>
                                      <li>6</li>
                                      <li>7</li>
                                      <li>8</li>
                                      <li>9</li>
                                      <li>10</li>
                                      <li>11</li>
                                     </ul>
                                  </div>
                            </div>
                            <div class="col">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      Grupo
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      <li>A</li>
                                      <li>B</li>
                                      <li>C</li>
                                      <li>D</li>
                                    </ul>
                                  </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-3">
                            <div class="col">
                                <h6>Acudiente</h6>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="date" class="form-control" placeholder="fecha de nacimiento">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="direccion">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="telefono">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary text-b">Agregar </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>